@model IEnumerable<Domain.Domain.Disciplina>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Disciplinas</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Alterar", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Visualziar", "Details", new {  id=item.Id }) |
                @Html.ActionLink("Remover", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
